---
---
@import "{{ site.theme }}";

body {
  min-height: 100vh;
  background-image: url('https://newsletter.appliedinnovationexchange.com//assets/page-background/background-optimised.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;
}

header {
  display: flex;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

header > img {
  height: 65px;
  width: auto;
}

nav ul {
  display: flex;
  list-style: none;
  padding-left: none;
}

nav ul li {
  margin: 0 1.5em;
}

nav ul li a {
  color: #000;
}

.main-content {
  max-width: 1200px;
  width: 90%;
  margin: 2rem auto;
  background: white;
  border-radius: 5px;
  padding: 2rem 3rem;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  color: #000;
  font-weight: bold;
}

.mobile-only {
  display: none;
}

footer {
  width: 100%;
  background: #1a2127;
  padding: 2rem 0;
}

footer ul {
  max-width: 1200px;
  width: 90%;
  margin: 2rem auto;
  padding: 0 2rem;
  list-style: none;
}

footer ul li {
  margin: 1.5rem 0;
}

footer ul li a {
  color: #fff;
}

@media screen and (max-width: 700px) {
  .main-content {
    font-size: 0.9rem;
  }
  .mobile-only {
    display: block;
  }
  .desktop-only {
    display: none;
  }
}